<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Overview</title>

    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/dist/css/dataTables.bootstrap5.min.css" rel="stylesheet">

    <style>
        .btn-circle {
            width: 35px;
            height: 35px;
            padding: 3.4px 0px;
            border-radius: 100%;
            text-align: center;
            font-size: 17px;
            line-height: 1.42857;
        }
    </style>
</head>

<body>

    <div class="col-lg-8 mx-auto p-3 py-md-5">
        <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
            <a href="/overview" class="d-flex align-items-center text-dark text-decoration-none">
                <span class="fs-4">Student Overview</span>
            </a>
        </header>

        <main>

            <table id="mainTable" class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Subject</th>
                    <th scope="col" class="text-center">Grade</th>
                    <th scope="col">Instructor</th>
                </tr>
                </thead>
                <tbody>
                <% for (const [classId, subject] of Object.entries(data)) { %>
                    <tr>
                        <th class="align-middle" scope="row"><%= subject.class.title %></th>
                        <td class="text-center align-middle" data-order="<%= subject.termGrade.average %>">
                            <a href="/class/<%= classId %>" class="btn btn-<%= subject.termGrade.style %> btn-circle">
                                <%= subject.termGrade.letter %>
                            </a>
                             <%= subject.termGrade.average %>%
                        </td>
                        <td class="align-middle"><%= subject.teacher.lastName %>, <%= subject.teacher.firstName %></td>
                    </tr>
                <% } %>
                </tbody>
            </table>

        </main>
        <footer class="pt-5 my-5 text-muted border-top">
            Copyright &copy; <%= new Date().getFullYear() %> k4deng
        </footer>
    </div>

    <script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/dist/js/jquery-3.6.4.min.js"></script>
    <script src="/assets/dist/js/jquery.dataTables.min.js"></script>
    <script src="/assets/dist/js/dataTables.bootstrap5.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#mainTable").DataTable({
                paging: false,
                info: false,
                searching: false,
            });
            $("#mainTable_wrapper").addClass("col-xl-8 mx-auto");
        })
    </script>


</body>

</html>